# Local development (Postgres)
DATABASE_URL="postgresql://user:password@host:5432/dbname?sslmode=require"

# Production deployment example (Vercel + Postgres/Neon)
# DATABASE_URL="postgresql://user:password@host:5432/dbname?sslmode=require"

ADMIN_PASSWORD="123456"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
